* {
  box-sizing: border-box;
  letter-spacing: 0.1em;
  line-height: 1.5;
}

html {
  scroll-behavior: smooth;
  height: 100%;
}

body {
  height: 100%;
  margin: 0;
  display: flex;
  flex-direction: column;
  font-family: 'Lato', sans-serif, Tahoma, verdana;
}

/* Header style */

header {
  height: 80px;
}

.topHeader {
  max-width: 100%;
  background: #ffe8c6;
  margin: auto;
}

.container {
  position: static;
  display: flex;
  align-items: center;
  height: 80px;
  box-sizing: border-box;
  justify-content: space-between;
  background: #ffe8c6;
  max-width: 1500px;
  margin: auto;
}

.logo-container {
  padding-left: 1rem;
  width: 132px;
  position: relative;
  margin-bottom: 20px;
}

.compass {
  position: absolute;
  top: 38px;
  left: 17px;
}

.logo-container a {
  color: #364f34;
  text-transform: uppercase;
  display: block;
  text-decoration: none;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
}

.logo-name p:first-child {
  margin-bottom: 0 !important;
}

.logo-name p:not(:first-child) {
  margin: 0;
  padding-left: 50px !important;
}

.logo-name p:last-child {
  margin-bottom: 0;
  padding-left: 70px !important;
}

nav {
  position: absolute;
  top: 80px;
  background: #ffe8c6;
  display: none;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

nav ul {
  border: none;
  width: 100%;
  margin-bottom: 10px;
  padding: 0;
}

nav li {
  display: flex;
  justify-content: center;
  margin: 20px;
}

.nav_link {
  color: #000000;
  text-decoration: none;
  text-transform: uppercase;
  width: 100%;
  text-align: left;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  font-weight: lighter;
  text-align: center;
}

#active,
#active-footer {
  font-weight: bolder;
  color: #000000;
}

.nav_link:hover {
  color: #45454b;
}

#toggle {
  display: none;
}

#toggle:checked ~ .menu {
  display: flex;
}

.hamburger {
  display: block;
  cursor: pointer;
  margin-right: 5px;
  transition: transform 0.5s ease-in-out;
  padding: 0.5rem;
  margin-left: 1rem;
  font-size: 0.875rem;
  border-radius: 0.5rem;
  border: 2px solid #494e58;
}

.hamburger span {
  width: 25px;
  height: 3px;
  background-color: #000000;
  margin: 5px;
  transition: all 0.3s ease;
  display: block;
}

#toggle:checked ~ label .first {
  transform: rotate(-45deg) translate(-5px, 6px);
}

#toggle:checked ~ label .second {
  opacity: 0;
}

#toggle:checked ~ label .third {
  transform: rotate(45deg) translate(-5px, -6px);
}

/* main style  */

main {
  margin-bottom: 60px;
  padding: 1rem;
  flex: 1;
}

.contact-main {
  padding: unset;
}

/* about us section style  */

.about-container {
  max-width: 1500px;
  margin: 30px auto;
}

.about-container h1,
.about-container h2,
.about-title,
.contact-container h1 {
  text-align: center;
}

.about-container div {
  max-width: 900px;
  margin: auto;
}

.cards-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 60px;
  margin-top: 100px;
}

.card-about {
  width: 422px;
  text-align: center;
}

.svg-about {
  max-width: 100%;
  height: 75px;
}

.about-us {
  max-width: 1500px;
  margin: 30px auto;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  flex-direction: row-reverse;
  gap: 10px;
}

.about-us h1,
.form-container h1,
.about-container h1 {
  font-weight: 400;
}

.about-us h2,
.card-about h2 {
  font-weight: 500;
}

.paragraf-text {
  max-width: 632px;
}

.btn-about-us {
  background: #364f34;
  padding: 0.375rem 0.75rem;
  text-decoration: none;
  color: #ffffff;
  border: 1px solid transparent;
  display: flex;
  border-radius: 0.25rem;
  text-align: center;
  transition: all 0.2s ease-in-out;
  cursor: pointer;
  font-size: 16px;
  text-transform: uppercase;
  margin: auto;
  display: block;
  width: 248px;
}

.btn-about-us:hover {
  border: 1px solid #364f34;
  background: transparent;
  color: #364f34;
}

.about-img {
  width: 555px;
}

.about-img img {
  max-width: 100%;
  border-radius: 31px;
  object-fit: cover;
}

/* tours section style  */

.tours {
  max-width: 1150px;
  margin: 20px auto;
  text-align: center;
}

.long-tours {
  max-width: 1150px;
  margin: auto;
  text-align: center;
}

.tours h3 {
  margin-top: 100px;
  margin-bottom: 0;
  font-weight: 400;
  font-size: 28px;
}

.cards {
  display: flex;
  justify-content: center;
  gap: 10px;
  flex-wrap: wrap;
}

.hikes {
  width: 556px;
  max-width: 100%;
}

.hikes p {
  text-align: left;
}

.btn-view {
  display: flex;
  align-items: center;
  align-content: center;
  gap: 10px;
  cursor: pointer;
}

.long-tours:hover .btn-view i,
.hikes:hover .btn-view i {
  color: #364f34;
}

.hikes a {
  text-transform: uppercase;
  text-decoration: none;
  color: #000000;
  display: flex;
  justify-content: left;
}

.link-p,
.link-p-long {
  margin: 0;
}

.hikes:hover .link-p,
.long-tours:hover .link-p-long {
  text-decoration: underline;
  text-underline-offset: 4px;
  color: #364f34;
}

.hikes h4 {
  text-align: left;
  font-weight: 500;
  font-size: 20px;
}

.card-img {
  max-width: 100%;
  width: 100%;
  height: 400px;
  cursor: pointer;
}

.card-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.long-hikes {
  margin: auto;
}

/* contact-us style  */

#name,
#message,
#email {
  padding: 12px;
  font-size: 16px;
  border-radius: 10px;
  background: rgba(251, 252, 253, 0.94);
  border: none;
  margin-bottom: 30px;
  width: 100%;
  box-sizing: border-box;
  resize: none;
}

form {
  max-width: 436px;
  margin: 0 auto;
  padding-left: 10px;
  padding-right: 10px;
}

.continue {
  display: flex;
  justify-content: center;
  margin-top: 25px;
  margin-bottom: 25px;
}

.submit {
  border: none;
  width: 134px;
  padding: 0.8rem;
  background: rgba(251, 252, 253, 0.65);
  border-radius: 8px;
  font-size: 22px;
  color: #000000;
  cursor: pointer;
  margin-bottom: 10px;
  text-transform: capitalize;
}

.contact-container {
  margin: 30px auto;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.form-container {
  border: 8px solid rgba(229, 229, 229, 0.54);
  background: #e5e5e5;
  width: 100%;
}

.contact-img {
  max-width: 100%;
  height: 490px;
}

.contact-img img {
  max-width: 100%;
  object-fit: cover;
  height: 100%;
}

.contact-us {
  max-width: 100%;
  margin: 60px auto;
}

.contact-title {
  font-size: 28px;
  font-weight: 400;
  margin-top: 100px;
  margin-bottom: 80px;
  text-align: left;
}

.container-box {
  display: flex;
  gap: 50px;
  justify-content: left;
  flex-wrap: wrap;
}

.rectangle-card {
  width: 100%;
}

.rectangle-card h6 {
  margin-top: 60px;
  margin-bottom: 0;
  text-align: left;
  font-size: 20px;
}

.rectangle-svg,
.rectangle-card h6,
.rectangle-card p {
  display: flex;
  justify-content: center;
}

.rectangle-card p,
.card-about p {
  padding-left: 10px;
  padding-right: 10px;
  text-align: center;
}

.rectangle-1 {
  width: 180px;
  height: 180px;
  transform: rotate(-50deg);
  background: #99422c;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ffffff;
}

.rectangle-2 {
  width: 180px;
  height: 180px;
  background: #9ac2e5;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.rectangle-3 {
  width: 180px;
  height: 180px;
  border-radius: 140px 140px 20px 20px;
  background: #364f34;
  display: flex;
  justify-content: center;
  align-items: center;
}

.rectangle-4 {
  width: 180px;
  height: 180px;
  border-radius: 0px 65px 65px 65px;
  background: #ffe8c6;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Footer style  */

footer {
  background: #edd8b9;
  padding: 10px;
  text-align: center;
}

.footer-logo {
  justify-content: center;
  display: flex;
}

.footer_links {
  margin-bottom: 25px;
  margin-top: 25px;
  display: flex;
  gap: 30px;
  justify-content: center;
  flex-wrap: wrap;
}

.footer_link {
  flex-wrap: wrap;
  color: #000000;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 16px;
  display: inline-block;
  font-weight: lighter;
}

.footer_link:hover {
  color: #3b3b40;
}

.social-links a {
  display: inline-block;
  width: 50px;
  background-color: #053d57;
  margin: 0 5px 5px 0;
  text-align: center;
  line-height: 50px;
  border-radius: 50%;
  color: #ffffff;
  margin-bottom: 25px;
  align-items: center;
}

.social-links i {
  font-size: 1.3rem;
}

.copiright-footer {
  font-weight: lighter;
  font-size: 14px;
  line-height: 18px;
}

@media screen and (min-width: 620px) {
  .contact-main {
    padding: 1rem;
  }
  /* Header style  */
  nav {
    display: flex;
    position: static;
    width: unset;
    border-bottom: unset;
    background-color: unset;
  }

  nav ul {
    display: flex;
    gap: 38px;
    flex-wrap: wrap;
    padding-left: unset;
    width: unset;
    margin-bottom: 20px;
  }

  nav li:last-child {
    padding-right: 25px;
  }

  nav li {
    margin: unset;
  }

  .nav-link {
    text-decoration: none;
    margin-right: unset;
    color: #ffffff;
  }

  .nav_link {
    text-align: left;
  }

  .hamburger {
    display: none;
  }

  /* about style  */

  .about-img {
    height: 360px;
  }

  .about-img img {
    height: 100%;
  }

  .about-us {
    flex-wrap: nowrap;
    margin: 60px auto;
  }

  .cards {
    flex-wrap: nowrap;
    justify-content: space-between;
  }

  .long-hikes {
    padding-left: 11px;
  }

  /* contact-us style  */

  .continue {
    margin-bottom: unset;
  }

  .form-container {
    width: 550px !important;
    margin-top: unset;
    min-width: 380px;
    padding-right: 20px;
    padding-left: 20px;
  }

  .contact-img {
    max-width: 500px;
    height: 571px;
  }

  .contact-img img {
    max-width: 100%;
    height: 100%;
    border-radius: 0px 10px 10px 0px;
  }

  .contact-container {
    margin: 60px 0px 0px 0px auto;
    max-width: 1500px;
    flex-wrap: nowrap;
    flex-direction: row;
  }

  .rectangle-card {
    max-width: 300px;
  }

  .container-box {
    justify-content: center;
  }

  .contact-title {
    text-align: center;
  }
}

@media screen and (max-width: 400px) {
  .btn-about-us {
    width: 100%;
  }

  .footer_links {
    gap: 15px;
  }
}
